
@import "fontawesome.css";

@font-face {
    font-family: 'Acumin Pro';
    src: url('../fonts/acumin-pro-cufon/Acumin-RPro.eot');
    src: local("../fonts/acumin-pro-cufon/Acumin-RPro"), 
            local("../fonts/acumin-pro-cufon/Acumin-RPro"), 
            url('../fonts/acumin-pro-cufon/Acumin-RPro.eot?#iefix') format("embedded-opentype"), 
            url('../fonts/acumin-pro-cufon/Acumin-RPro.woff2') format("woff2"), 
            url('../fonts/acumin-pro-cufon/Acumin-RPro.woff') format("woff"), 
            url('../fonts/acumin-pro-cufon/Acumin-RPro.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Acumin Pro Italic';
    src: url('../fonts/acumin-pro-cufon/Acumin-ItPro.eot');
    src: local("../fonts/acumin-pro-cufon/Acumin-ItPro"), 
            local("../fonts/acumin-pro-cufon/Acumin-ItPro"), 
            url('../fonts/acumin-pro-cufon/Acumin-ItPro.eot?#iefix') format("embedded-opentype"), 
            url('../fonts/acumin-pro-cufon/Acumin-ItPro.woff2') format("woff2"), 
            url('../fonts/acumin-pro-cufon/Acumin-ItPro.woff') format("woff"), 
            url('../fonts/acumin-pro-cufon/Acumin-ItPro.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Acumin Pro Bold';
    src: url('../fonts/acumin-pro-cufon/Acumin-BdPro.eot');
    src: local("../fonts/acumin-pro-cufon/Acumin-BdPro"), 
            local("../fonts/acumin-pro-cufon/Acumin-BdPro"), 
            url('../fonts/acumin-pro-cufon/Acumin-BdPro.eot?#iefix') format("embedded-opentype"), 
            url('../fonts/acumin-pro-cufon/Acumin-BdPro.woff2') format("woff2"), 
            url('../fonts/acumin-pro-cufon/Acumin-BdPro.woff') format("woff"), 
            url('../fonts/acumin-pro-cufon/Acumin-BdPro.ttf') format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Acumin Pro Bold Italic';
    src: url('../fonts/acumin-pro-cufon/Acumin-BdItPro.eot');
    src: local("../fonts/acumin-pro-cufon/Acumin-BdItPro"), 
            local("../fonts/acumin-pro-cufon/Acumin-BdItPro"), 
            url('../fonts/acumin-pro-cufon/Acumin-BdItPro.eot?#iefix') format("embedded-opentype"), 
            url('../fonts/acumin-pro-cufon/Acumin-BdItPro.woff2') format("woff2"), 
            url('../fonts/acumin-pro-cufon/Acumin-BdItPro.woff') format("woff"), 
            url('../fonts/acumin-pro-cufon/Acumin-BdItPro.ttf') format("truetype");
    font-weight: 700;
    font-style: normal;
}

/* PreLoad
-------------------------------------------------------------- */
#loading-overlay {
    position: fixed;
    z-index: 999999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
}

#loading-overlay .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin: -30px 0 0 -30px;
}

#loading-overlay .loader:before,
#loading-overlay .loader:after {
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    content: "";
    -webkit-animation: preloader-wave 1.6s linear infinite;
    animation: preloader-wave 1.6s linear infinite; 
    border-radius: 50%;
    background: #042C71;
}

#loading-overlay .loader:after {
    -webkit-animation-delay: -.8s;
    animation-delay: -.8s;
}
@-webkit-keyframes preloader-wave {
    0% {
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0);
        opacity: .7;
    }
    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 0;
    }
}
@keyframes preloader-wave {
    0% {
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0);
        opacity: .7;
    }
    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 0;
    }
}

.btn {
    transition: all .25s ease-in-out;
}
.btn:hover {
    opacity: 0.7;
}
.btn .icon {
    transform: translateZ(0);
    transition: .25s;
}
.btn:hover .icon {
    transform: translate3d(7px,0,0);
}

body {
    font-family: 'Acumin Pro';
}
.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1200px;
        max-width: 100%;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
}
.header-transparent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}
.header .menu {
    display: flex;
}
.header .menu-item {
    padding: 0 20px;
}
.header .menu-item a {
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
}
.header .social-menu {
    display: flex;
    align-items: center;
}
.social-menu .item-social {
    background-color: #EDEDE2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
}
.social-menu a {
    color: #0054FF;
    font-size: 25px;
    display: flex;
    align-items: center;
}
.social-menu .item-social + .item-social {
    margin-left: 10px;
}


.hero {
    background-image: url('../img/hero/hero-index.png');
    background-size: cover;
    padding: 200px 0 0;
}
.hero-text-wrap {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
}
.hero-text-wrap .sub-title {
    color: #EEECE4;
    font-size: 19px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 0 10px;
}
.hero-text-wrap .title {
    color: #EEECE4;
    font-size: 75px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    position: relative;
    padding: 0 0 10px;
    margin: 0 0 25px;
}
.hero-text-wrap .title:after {
    content: '';
    background-color: #EEECE4;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 400px;
    height: 1px;
}
.hero-text-wrap .text {
    color: #fff;
    font-size: 30px;
    opacity: 0.80;
}


.menu-tab {
    overflow: hidden;
    margin: 0 -15px;
    padding: 0;
}
.menu-tab li {
    width: 20%;
    padding: 0 15px;
    float: left;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
}
.menu-tab .icon-box {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 16px 0 rgb(0 0 0 / 6%);
    margin: 10px 0 25px 0;
    position: relative;
}
.menu-tab .active .icon-box {
    background-color: #EEECE4;
}


.who-we-are {
    display: flex;
    position: relative;
}
.who-we-are .left-img-col {
    background-image: url('../img/section/male-server-administrator.jpg');
    background-size: cover;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
.who-we-are .right-img-col {
    background: #eeece4;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}
.who-we-are .right-img-col img {
    opacity: 0.6;
}
.who-we-are .text-holder {
    padding: 90px 30px 70px 45px;
    position: absolute;
    background: #4C475C;
    border-top-right-radius: 100px;
    top: 13%;
    left: 51.3%;
    width: 570px;
}
.who-we-are .title {
    color: #fff;
    font-size: 55px;
    margin-bottom: 20px;
}
.who-we-are p {
    color: #fff;
    font-size: 18px;
    line-height: 1.5;
}
.who-we-are .btn-holder {
    display: flex;
    margin: 50px 0 0;
}
.who-we-are .btn-holder .btn {
    margin: 0;
}




.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 245px;
    margin: 0 auto;
    background-color: #EEECE4;
    color: #1d1b24;
    font-size: 15px;
    line-height: 1;
    letter-spacing: 4px;
    padding: 22px 15px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 500;
}
.btn .icon {
    margin-left: 15px;
}